[Desktop Entry]
Encoding=UTF-8
Name=SnowPuppyCoin Core
Comment=SnowPuppyCoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem SnowPuppyCoin peer-to-peer Netzwerk
Comment[fr]=SnowPuppyCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SnowPuppyCoin, eşten eşe kriptografik sanal para birimi
Exec=snowpuppycoin-qt %u
Terminal=false
Type=Application
Icon=snowpuppycoin128
MimeType=x-scheme-handler/snowpuppycoin;
Categories=Office;Finance;
