[Unit]
Description=SnowPuppyCoin's distributed currency daemon
After=network.target

[Service]
User=snowpuppycoincore
Group=snowpuppycoincore

Type=forking
PIDFile=/var/lib/snowpuppycoind/snowpuppycoind.pid
ExecStart=/usr/bin/snowpuppycoind -daemon -pid=/var/lib/snowpuppycoind/snowpuppycoind.pid \
-conf=/etc/snowpuppycoincore/snowpuppycoin.conf -datadir=/var/lib/snowpuppycoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
